<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/core-header-panel/core-header-panel.html">
<link rel="import" href="../../bower_components/core-icon-button/core-icon-button.html">
<link rel="import" href="../../bower_components/core-icons/av-icons.html">

<link rel="import" href="../octopus-blockly/octopus-blockly.html">


<polymer-element name="octopus-editor">
<template>
<style>

:host {
	flex: 1;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

:host core-toolbar {
	background-color: #526E9C; 
	color: #FFF;
}

</style>

<core-toolbar>
	<core-icon-button icon="av:play-circle-fill" on-tap="{{runAction}}">Run</core-icon-button>
	<!--core-icon-button icon="pause-circle-fill" on-tap="{{runAction}}">Pause</core-icon-button-->
	<core-icon-button icon="cancel" on-tap="{{runAction}}">Stop</core-icon-button>
</core-toolbar>
<octopus-blockly></octopus-blockly>

</template>

<script>

Polymer('octopus-editor', {
});

</script>
</polymer-element>
